/*
mockup colors
red - rgb(202,23,26)
orange - rgb(251,100,79)
green - rgb(33,172,162)
blue - rgb(35,123,202)
light gray - rgb(247,247,247)
dark gray - rgb(30,30,30)
*/

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

a {
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}

* {
	margin:0;
	padding:0;
}

html {
	font-family: 'Lato', sans-serif;
}

*:active {
	outline: none;
}

*:focus {
	outline: none;
}

.startPickup, .requestPickup {
	background: rgb(33,172,162);
	color: white;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	border-radius: 5px;
	cursor: pointer;
	height: 100%;
}

.fa-truck, .fa-cutlery, .fa-user {
	color: white;
	padding: 5px;
	margin: 5px;
	border: 2px solid white;
	border-radius: 50%;
}

.D_navbar, .R_navbar {
	background: black;
	margin-bottom: 5px;
}

.left {
	float: left;
}

.left > a {
	padding-right: 10px;
}

.right {
	text-align: right;
}

.manageReports {
	background: rgb(202,23,26);
	color: white;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	border-radius: 5px;
	cursor: pointer;
	height: 100%;
}

.navHome, .manageProfile {
	background: rgb(35,123,202);
	color: white;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	border-radius: 5px;
	cursor: pointer;
	height: 100%;
}

.D_HomeContainer, .R_HomeContainer {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.pickupnotification > h3 {
	text-align: center;
	font-family: sans-serif;
	margin: 10px;
}

.container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	font-family:sans-serif;
	text-align:center;
	color:rgb(30,30,30);
}

.container > div {
	margin:5px auto;
}

.container > div > h1 {
	font-size:1.5em;
}

.container > div > h2 {
	font-size:1.25em;
}

.container > div > a {
	text-decoration:none;
	color:rgb(247,247,247);
}

.restaurantButton {
	width:200px;
	margin:10px;
	padding:10px;
	text-align:center;
	border-radius:5px;
	background-color:rgb(202,23,26);
}

.deliveryButton {
	width:200px;
	margin:10px;
	padding:10px;
	text-align:center;
	border-radius:5px;
	background-color:rgb(35,123,202);
}

/*******************************************
	MAKING DONATIONS
*******************************************/

.donate-container {
	padding: 20px;
	border: 2px solid #eee;
	border-radius: 3px;
	width: 500px;
	margin: 0 auto;
}

.donate__food-type {
	padding: 10px;
}

.donate__food-size {
	padding: 10px;
}

.donate__details-submit {
	padding: 10px;
}