#scroll {
	max-height: 700px;
	overflow-y: hidden;
	overflow: auto;
}
/*
mockup colors
red - rgb(202,23,26)
orange - rgb(251,100,79)
green - rgb(33,172,162)
blue - rgb(35,123,202)
light gray - rgb(247,247,247)
dark gray - rgb(30,30,30)
*/

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

a {
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}

* {
	margin:0;
	padding:0;
}

*:active {
	outline: none;
}

*:focus {
	outline: none;
}

.startPickup, .requestPickup {
	background: rgb(33,172,162);
	color: white;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	border-radius: 5px;
	cursor: pointer;
	height: 100%;
}
.pickupsContainer {
	display: flex;
}

.pickupsContainer {
	display: flex;
}

.fa {
	padding: 5px;
	margin: 5px;
}

.fa-nav {
	text-align: center;
	color: white;
	padding: 5px;
	margin: 5px;
	border: 2px solid white;
	border-radius: 50%;
}

.D_navbar {
background: #232323;
	display: flex;
	justify-content: space-between;
	padding: 10px 25px;
}
.left > a, .right > a {
	margin: auto;
	margin-right: 15px;


}

.fa-calendar-check{
	color: #fff;
}


.fa-map-marker {
	border:2px solid #fff;
	padding: 5px;
	border-radius: 50%;
	font-weight: bold;
}

.manageReports {
	background: rgb(202,23,26);
	color: white;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	border-radius: 5px;
	cursor: pointer;
	height: 100%;
}

.navHome, .manageProfile {
	background: rgb(35,123,202);
	color: white;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	border-radius: 5px;
	cursor: pointer;
	height: 100%;
}

.D_HomeContainer, .R_HomeContainer {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.pickupnotification > h3 {
	text-align: center;
	font-family: sans-serif;
	margin: 10px;
}

/*
mockup colors
red - rgb(202,23,26)
orange - rgb(251,100,79)
green - rgb(33,172,162)
blue - rgb(35,123,202)
light gray - rgb(247,247,247)
dark gray - rgb(30,30,30)
*/

.container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	font-family:sans-serif;
	text-align:center;
	color:rgb(30,30,30);
}

.container > div {
	margin:5px auto;
}

.container > div > h1 {
	font-size:1.5em;
}

.container > div > h2 {
	font-size:1.25em;
}

.container > div > a {
	text-decoration:none;
	color:rgb(247,247,247);

}





.profileContain{
	width: 100%;
	
}

.profileContain {
	width: 100%;	
}

#head {
	width: 100%;
	padding: 10px;
	background: #ccc;
	display: flex;
}

#head button {
	border: none;
	outline: none;
	background: none;
	font-size: 2em;
	margin-right: 40%;
}

.D_navbar a:hover {
	transform:scale(1.2);
	color: #fff;
}

#prof {
	margin: 15px;
	padding: 15px;
	display: flex;
	justify-content: center;
/*	border-top: 1px solid #232323;*/
/*	border-bottom: 1px solid #232323;*/
}

#prof h2 {
	padding: 5px;
	border-bottom: 2px solid #232323;
}

#option {
	margin: 30px;
	border-top: 1px solid #232323;
	border-bottom: 1px solid #232323;
	padding: 20px;
	display: flex;
}

#option button {
	margin-right:5%;
}

#itemsD {
	display: flex;
	/*flex-direction: column;*/
	justify-content: flex-start;
	padding: 20px;
}

#dd {
	display: flex;
	flex-direction: column;
	text-align: center;
	border:1px solid #232323;
	padding: 10px;
}

#amount {
	font-size: 2.5em;
	margin-bottom: 30px;
}

#numberr {
	font-size: 2.4em;
}

/*******************************************
	MAKING DONATIONS
*******************************************/

.donate-container {
	padding: 20px;
	border: 2px solid #eee;
	border-radius: 3px;
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;
}

.donate__food-type {
	padding: 10px;
}

.donate__food-size {
	padding: 10px;
}

.donate__details-submit {
	padding: 10px;
}

#thanks{
	width: 40%;
	border:1px solid #232323;
	margin:100px auto;
	text-align: center;
	background: rgba(255,255,200,.2);
	padding: 50px;
}

#thanks h1{
	margin-bottom: 50px;
	text-transform: capitalize;
	font-family: sans-serif;
}

#thanks p{
	line-height: 50px;
}

.pickups {
	display: flex;
	justify-content: space-between;
}

.pickups > div {
	margin: 5px;
}
.modal-show {
	display: block;
	z-index: 100;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}
.modal-hidden {
	display: none;
}
.modal-main {
	box-shadow: 2px 2px 1px #000;
	padding: 10px;
	text-align: center;
	background: white;
}
.cxlreason {
	width: 50%;
	height: 20vh;
	display: block;
	border: 2px solid #ccc;
	margin: 10px auto;

}
.cxlreason > textarea {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	text-align: center;
}