/*******************************************
	MAKING DONATIONS
*******************************************/

.donate-container {
	padding: 20px;
	margin: 0 auto;
	margin-top: 20px;
	border: 2px solid #eee;
	border-radius: 3px;
}

#wrongg {
	background: rgba(255,0,29,.2);
	display: flex;
	padding: 1.7%;
	border:1px solid red;
	margin: 3%;
}

#wrongg li{
	line-height: 30px;
}

.donate-container #butt{
	margin-top:1%;
}

#add{
	font-weight: bold;
	display: flex;
	justify-content: center;
}

input[type='checkbox']{
	margin:2%;
	background: #eee;
}

.defaultContain{
	width: 100%;
	text-align: center;
}

#defaults{
	margin: 20px 0 30px 0;
}

#defaults h2{
	text-transform: capitalize;
}

#defaults ul li{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 20px 0 20px 0;

}

#defaults ul{
	padding-bottom: 10px;
	border-bottom: 2px solid #232323;
}