/*******************************************
	MAKING DONATIONS
*******************************************/

.donate-container {
	padding: 20px;
	margin: 0 auto;
	margin-top: 20px;
	border: 2px solid #eee;
	border-radius: 3px;
	width: 200px;
}

#wrongg {
	background: rgba(255,0,29,.2);
	display: flex;
	padding: 1.7%;
	border:1px solid red;
	margin: 3%;
}

#wrongg li{
	line-height: 30px;
}

.donate-container #butt{
	margin-top:1%;
}

#add{
	font-weight: bold;
	display: flex;
	justify-content: center;
	font-size: 1.3em;
	margin-right: 10px;
}

input[type='checkbox']{
	background: #eee;
	width: 20px;
	height: 20px;
}
.defaultContain{
	width: 100%;
	text-align: center;
}

#defaults {
	padding: 1%;
	border-bottom: 2px solid #ccc;
	background: rgba(255,255,255,0.8);
	margin: 1.5% 0 1.5% 0;
	border-radius: 20px;
}

#defaults input{
	width: 13%;
	padding: 1%;
	margin:auto;
	text-align: center;
	outline: none;
	border: none;
	font-style: italic;
	cursor: pointer;
}

#defaults label{
	margin-top: 2%;
	font-weight: bold;
	margin-bottom: 5px;
}
#blue:hover {
	text-decoration: underline;
	color: rgb(35,123,202);
}
#defaults button{
	width: 25%;
	margin: 20px auto;
}

#deffs {
	text-align: center;
}

#deffs p {
	cursor: pointer;
	text-align: center;
	margin: auto;
	font-weight: bold;
}

.defaultflex {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

