.D_navbar {
	background: #232323;
	display: flex;
	justify-content: space-between;
	padding: 10px 25px;
	font-size: 24px;
}

.D_navbar a:hover {
	transform:scale(1.2);
	color: #fff;
}

.fa-nav {
	text-align: center;
	color: white;
	padding: 5px;
	margin: 5px;
	border: 2px solid white;
	border-radius: 50%;
}

.left > a, .right > a {
	margin: auto;
	margin-right: 40px;
}

.navUsername {
	margin-right: 30px;
}

