.reversepickups {
	display: flex;
	flex-direction: column-reverse;
}
#scroll {
	max-height: 700px;
	overflow-y: hidden;
	overflow: auto;
	min-width: 300px;
}
.pickupsContainer {
	display: flex;
	padding-left: 5px;
	padding-right: 5px;
}
.modal-show{
	display: block;
	z-index: 100;
}
.wubba {
	font-size: 1.5em;
}
#lubba {
	align-items: flex-end;
	border-bottom: 1px solid #ccc;
	padding-left: 2%;
	padding-right: 2%;
}
.dubdub > * {
	float: right;
}
#schwifty > * {
	float: left;
}
#pickle {
	text-align: center;
}
#morty {
	display: flex;
	justify-content: space-between;
}
#meeseeks {
	background: rgb(35,123,202);
	color: white;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
	border-radius: 5px;
	cursor: pointer;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}
.modal-hidden {
	display: none;
}
.modal-main {
	box-shadow: 2px 2px 1px #000;
	padding: 10px;
	text-align: center;
	background: white;
}
.pickups {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.D_navbar {
background: #232323;
	display: flex;
	justify-content: space-between;
	padding: 10px 25px;
}
.D_navbar a:hover {
	transform:scale(1.2);
	color: #fff;
}
.left > a, .right > a {
	margin: auto;
	margin-right: 15px;
}
.pickups > div {
	margin: 5px;
}
.cxlreason {
	width: 50%;
	height: 20vh;
	display: block;
	border: 2px solid #ccc;
	margin: 10px auto;
}
.cxlreason > textarea {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	text-align: center;
}

