.titles > h1 {
	margin-top:10px;
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
}

.titles > h2 {
	margin:0 0 10px 0;
	font-size:1.25em;
	font-weight:bold;
	text-align:center;
}

.reportTable {
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:10px auto;
	width:80%;
	text-align:center;
}

.reportForm {
	margin:10px auto;
	width:80%;
}

.reportChart {
	position:relative;
	margin:auto;
	width:80vh;
	height:80vh;
}

@media only screen and (max-device-width: 600px) {
		.reportContainer {
			width: 100%;
		}
		.reportChart {
			width: 100%;
		}
		.reportButtons {
			display: flex;
		}
}
@media only print {
	#ribbonTitle {
		display:none;
	}

	.reportTable {
		margin-bottom:20px;
	}

	.reportForm {
		display:none;
	}
}