.titles > h1 {
	margin-bottom:-20px;
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
}

.titles > h2, .reportForm > h2 {
	font-size:1.25em;
	font-weight:bold;
	text-align:center;
}

.buttons {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	text-align:center;
}

.reportForm {
	margin:20px auto;
	width:80%;
}

.reportTable {
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:20px auto;
	width:80%;
	text-align:center;
}

.reportChart {
	position:relative;
	margin:auto;
	width:80vh;
	height:80vh;
}

@media only print {
	.reportForm {
		display:none;
	}
}